@import "tailwindcss";

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

@font-face {
  font-family: 'Michelle';
  src: url('./fonts/Michelle2.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MichelleOutline';
  src: url('./fonts/MichelleOutline.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
